body {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.6;
  background-color: #212830;
  color: #c7cdd5;
}

pre {
  background-color: #2d2d2d;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid #404040;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  display: block;
  font-family: monospace;
}

a {
  color: #0a81d1;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
