[user]
	name = Scott S.
	email = {{ .email }}
[core]
	autocrlf = input
[include]
	path = ~/.git-alias.config
[push]
	default = upstream
[rerere]
	enabled = 1
[grep]
	extendRegexp = true
[blame]
	date = short
[status]
	showUntrackedFiles = all
{{- if ne .cred_helper "" }}
[credential]
	helper = {{ .cred_helper }}
{{- end }}
