[alias]
  alias = !git config --get-regexp ^alias\\. | sort
  br = branch
  changed = update-index --no-assume-unchanged
  ci = commit -v
  cleanup = !git fetch --prune && git branch -vv | awk '/: gone]/{print $1}' | fzf -0 -m --disabled --bind ctrl-a:select-all,ctrl-d:deselect-all,ctrl-t:toggle-all | xargs git branch -D
  co = checkout
  d = diff
  dt = difftool --dir-diff
  f = fetch --prune
  g = grep --break --heading --line-number
  ls-unchanged = !git ls-files -v | grep '^[hsmrck]'
  nb = !git checkout -b $1 && git push -u origin
  st = "!git status -s; echo -ne \"\\033[0;41;37m\"; git ls-unchanged; echo -ne \"\\033[0m\""
  stash-all = stash save --include-untracked
  stash-diff = diff stash@{0}^!
  tree = log --oneline --graph --decorate --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
  unchanged = update-index --assume-unchanged
  uncommit = reset --soft HEAD^
  undo = reset --soft HEAD^
  unstage = reset
  up = pull --rebase --prune
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
