  {{ if eq .work 1 }}
  # remeber to edit w/ chezmoi edit
  srcdir dapi Ready.API.Dashboard
  srcdir dui Ready.Dashboard
  srcdir dx  devex
  srcdir frapi  FrontOfHouse.API
  srcdir frapp  FrontOfHouse
  srcdir pbi  powerbi-etl
  srcdir rapi  Ready.API
  srcdir rma Ready.MobileApp
  srcdir rmc Ready.Menu.Core
  srcdir rmcp Ready.MenuCopier
  srcdir rmu Ready.Menu
  srcdir v2 Ready.DashboardV2Api
  srcdir v2c Ready.DashboardV2ApiContracts
  {{ end }}
