  {{ if eq .work 1 }}
  srcdir pbi  powerbi-etl
  srcdir ra  Ready.API
  srcdir rda Ready.API.Dashboard
  srcdir rd  Ready.Dashboard
  srcdir rd2a Ready.DashboardV2Api
  srcdir rma Ready.MobileApp
  srcdir rmu Ready.Menu
  srcdir rmc Ready.Menu.Core
  srcdir rmcp Ready.MenuCopier
  {{ end }}
