  {{ if eq .work 1 }}
  srcdir dx  devex
  srcdir pbi  powerbi-etl
  srcdir rapi  Ready.API
  srcdir dapi Ready.API.Dashboard
  srcdir rd  Ready.Dashboard
  srcdir v2 Ready.DashboardV2Api
  srcdir rma Ready.MobileApp
  srcdir rmu Ready.Menu
  srcdir rmc Ready.Menu.Core
  srcdir rmcp Ready.MenuCopier
  {{ end }}
