<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ca.schlesier.claudius.bkup</string>

    <!-- Run the program at load -->
    <key>RunAtLoad</key>
    <false/>

    <!-- Program Arguments -->
    <key>ProgramArguments</key>
    <array>
        <string>/Users/scotts/bin/bkup</string>
    </array>

    <!-- Time to start the job, at 2:30 AM every day -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>

    <!-- Write stdout and stderr to these files -->
    <key>StandardOutPath</key>
    <string>/tmp/ca.schlesier.claudius.bkup.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ca.schlesier.claudius.bkup.err</string>

    <!-- Power management settings -->
    <key>PowerNap</key>
    <true/>
</dict>
</plist>

