[user]
	name = Scott Schlesier
	email = {{ .email }}
[core]
	autocrlf = input
	excludesfile = ~/.config/git/ignore
	safecrlf = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[include]
	path = ~/.config/git/aliases
	path = ~/.config/git/environment
[push]
	default = upstream
[rerere]
	enabled = 1
[grep]
	extendRegexp = true
[blame]
	date = short
[status]
	showUntrackedFiles = all
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
	algorithm = histogram
[alias]
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[init]
	defaultBranch = main
