# remember to edit with chezmoi edit
{{ $themeFile := joinPath (env "XDG_DATA_HOME") "theme_mode" -}}
{{- $mode := "dark" -}}
{{- if stat $themeFile }}{{ $mode = trim (output "cat" $themeFile) }}{{ end -}}
[user]
	name = Scott Schlesier
	email = {{ .email }}
[core]
	autocrlf = input
	excludesfile = ~/.config/git/ignore
	safecrlf = false
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = {{ if eq $mode "light" }}{{ .bat_light_theme }}{{ else }}{{ .bat_dark_theme }}{{ end }}
[include]
	path = ~/.config/git/aliases
	path = ~/.config/git/environment
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[grep]
	extendRegexp = true
[blame]
	date = short
[status]
	showUntrackedFiles = all
[alias]
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[init]
	defaultBranch = main
[merge]
	tool = bc
  conflictstyle = zdiff3
[mergetool "bc"]
	cmd = bcomp "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[mergetool "kdiff3"]
	path = /opt/homebrew/bin/kdiff3
	trustExitCode = false
	keepBackup = false
[diff]
  tool = bc
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[difftool "kdiff3"]
    path = /opt/homebrew/bin/kdiff3
[difftool "bc"]
    cmd = bcomp "$LOCAL" "$REMOTE"
    trustExitCode = true
[difftool "difft"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[difftool]
    prompt = false
[pager]
    difftool = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[pull]
  rebase = true
[gtr "worktrees"]
  dir = ~/src/worktrees
